node_modules
npm-debug.log
yarn-error.log
dist
build
coverage
.DS_Store
.env
.env.*
*.local
*.log
*.tsbuildinfo
.idea
.vscode
*.swp
*.swo
*.bak
*.tmp
*.seed
*.test.ts
cypress/videos
cypress/screenshots
